[submodule "orion"]
	path = orion
	url = https://github.com/linea-it/orion.git
[submodule "sirius"]
	path = sirius
	url = https://github.com/linea-it/sirius.git
[submodule "centaurus"]
	path = centaurus
	url = https://github.com/linea-it/centaurus.git